* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(23, 126, 236, 0.458);
}

.container {
    display: flex;
    height: 100vh;
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    flex: 1;
}

.main {
    height: auto;
    width: 480px;
    border: 1px solid black;
    background-color: rgb(78, 75, 75);
    margin: 0px;
    padding: 0px;
    box-shadow: 0 0 10px 5px rgba(20 20 20 20);
}

.head {
    text-align: left;
    padding: 8px 0px 8px 10px;
    height: 53px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.input-field {
    height: 100px;
    width: inherit;
}

#input-field-main {
    width: inherit;
    height: 100px;
    background-color: lightgrey;
    padding: 2px;
    outline: none;
    border: none;
    padding: 5px 3px 5px 3px;
    font-size: 1.5rem;
    Text-align: right;
    padding-right: 10px;
}

.layers {
    display: flex;
    /* justify-content:center; */
    flex-direction: column;
    /* flex-grow: 1 1 0%; */
    /* width:inherit; */
}

.layers button {
    height: 85px;
    border-radius: none;
    outline: none;
    /* width: 24%; */
    margin: 0px;
    /* flex: 1 1 0%; */
    cursor: pointer;
}

button {
    appearance: none;
    outline: none;
    font-size: 20px;
    /* font-weight: bold; */
}

.layer1 {
    display: flex;
    height: 70px;
}

.layer2 {
    display: flex;
}

.layer2 button {
    flex: 1;
    height: 85px;
}

.layer1 button {
    flex: 1;
}

.seven-dark {
    background-color: rgb(87, 82, 82);
}

button:hover {
    background-color: rgba(200, 156, 156, 0.441);
}

#blue button {
    background-color: rgb(87, 82, 82);
}

.seven opr {
    background-color: rgb(107, 79, 79);
}